Abstracts.aux
Abstracts.fdb_latexmk
Abstracts.fls
Abstracts.glo
Abstracts.ist
Abstracts.log
Abstracts.synctex.gz
PA.aux
PA.bbl
PA.bcf
PA.blg
PA.fdb_latexmk
PA.fls
PA.glg
PA.glo
PA.gls
PA.ist
PA.lof
PA.log
PA.lol
PA.lot
PA.lox
PA.out
PA.run.xml
PA.synctex.gz
PA.toc
*.swp
